/* styles.css */
.centrer {
    /* max-width: 800px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 20px 15px 100px 40px grey;
    padding: 10px; */
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 20px 15px 200px 40px grey;
    padding: 10px;
}

.centrer img {
    width: 100%;
}

.button-style {
    background-color: #00ff48;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-style2 {
    background-color: #8800ff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button {
    background-color: #8800ff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-weight: 600
}

.titre {
    background: rgba(255, 255, 255, 0.80);
    text-align: center;
    color: black;
    font-family: fantasy;
    padding: 20px 30px;
    border-radius: 10px;
}

.BoutonWeb {
    background: rgba(255, 255, 255, 0.70);
    padding: 10px;
    color: black;
    font-family: Arial, sans-serif;
    font-weight: 600
}

.bouton-text {
    background-color: #ff7300;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-style3 {
    background-color: #ff00c3;
    color: #ffffff;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    font-family: fantasy;
}

.centrer button {
    width: 100%;
}

.centrer2 {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 20px 15px 200px 40px grey;
    padding: 10px;
}

.centrer2 img {
    width: 100%;
}

.container {
    display: flex;
}

.element {
    margin: auto;
    text-align: center;
}

.element > img {
    display: block;
    height: auto;
    margin-bottom: 20px;
}

.element1 {
    background-color: #000000;
    color: #fbfbfb;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-weight: 600
}
nav {
    color: #fff;
    background-color: black;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 10px 0;
    display: inline-block;
    margin-right: 30px;
}

nav li:first-of-type {
    margin-left: 70px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
hr {

    background-color: #000000;
    color: #000000;
    padding: 30px;
    margin: 0;
    border-radius: 5px;
    border: none;
}